body {
    width: 1500px;
    height: 844px;
    margin: 0;
}

#background {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('img/field-of-grass.jpg');
    background-repeat: no-repeat;
}

/* Buildings */

#coop {
    position: absolute;
    top: 300px;
    left: 20px;
    height: 75px;
}

#barn {
    position: absolute;
    height: 250px;
    bottom: 310px;
    right: 65px;
}

#barn-fences {
    position: absolute;
    bottom: 290px;
    right: 0px;
    font-size: 0;
}

.barn-fence {
    height: 50px;
}
