body {
    margin: 0;
}

#frame {
    width: 1520px;
    margin: auto;
    border: 35px solid rgb(58, 58, 58);
}

#background {
    border: 10px solid firebrick;
    position: relative;
    /* width: 100%;
    height: 100%; */
    width: 1500px;
    height: 844px;
    background-image: url('img/field-of-grass.jpg');
    background-repeat: no-repeat;
}

/* Buildings */

#coop {
    position: absolute;
    top: 300px;
    left: 20px;
    height: 75px;
}

#farmhouse {
    position: absolute;
    height: 100px;
    top: 200px;
    left: 440px;
}

#barn {
    z-index: 2;
    position: absolute;
    height: 250px;
    bottom: 310px;
    right: 65px;
}

#silo {
    z-index: 1;
    position: absolute;
    top: 300px;
    right: 80px;
    height: 150px;
}

#barn-fences {
    z-index: 4;
    position: absolute;
    bottom: 290px;
    right: 0px;
    font-size: 0;
}

.barn-fence {
    height: 50px;
}

/* Equipment */

#tractor {
    z-index: 3;
    position: absolute;
    right: 5px;
    top: 435px;
    height: 145px;
}

/* Animals */

#chicken-left {
    position: absolute;
    top: 360px;
    left: 65px;
    height: 20px;
}

#chicken-right {
    position: absolute;
    top: 360px;
    left: 110px;
    height: 20px;
}

#cow-right {
    z-index: 3;
    position: absolute;
    bottom: 260px;
    right: 460px;
    height: 100px;
}

#cow-left {
    z-index: 3;
    position: absolute;
    bottom: 295px;
    right: 340px;
    height: 70px;
}

#farmer {
    position: absolute;
    left: 550px;
    top: 275px;
    height: 35px;
}
